language: python
sudo: false
cache: pip

services:
    - docker
before_install:
  - sudo apt-get update
  - sudo apt-get install -y libffi-dev libxml2-dev
install:
- pip install -U tox
- pip install -r will/requirements/dev.txt
script:
- tox

matrix:
  include:
#    - python: 2.7
#      env: TOXENV=py27
#    - python: 3.4
#      env: TOXENV=py34
#    - python: 3.5
#      env: TOXENV=py35
    - python: 3.6
      env: TOXENV=py36
    - python: 3.7
      dist: xenial
      sudo: required
      env: TOXENV=py37
    - python: 3.8
      env: TOXENV=py38