apscheduler<3.0
bottle>=0.12.6
cherrypy
coverage
clint
dill>=0.2b1
dnspython
jinja2
hiredis
natural
redis
requests
parsedatetime==1.1.2
pyasn1
pyasn1_modules
sleekxmpp>=1.2

# Dev only
pyandoc
mkdocs
fabric
flake8
mock
nose