hiredis==0.2.0

# Using this fork because it has all the Planning Center Endpoints
-e git://github.com/pastorhudson/pypco.git#egg=pypco
-e git://github.com/pastorhudson/PCO-oauth2.git#egg=requests_oauth2

bottle_session

-r will/requirements/base.txt
-r will/requirements/slack.txt
-r will/requirements/hipchat.txt
-r will/requirements/rocketchat.txt
-r will/requirements/pcobot.txt
